* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.card {
    background-color: white;
    border-left: 5px solid sandybrown;
    margin-bottom: 2em;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 5px;
    padding: 1em;
}

form {
    display: flex;
}

.main {
    display: grid;
    position: absolute;
    grid-template-columns: 1fr 3fr 1fr;
    margin: 0;
    height: 100%;
}

.camel-large {
    height: 50px;
    background-color: rgb(245, 236, 221);
    border-radius: 50%;
}

.camel-small {
    height: 30px;
    background-color: rgb(245, 236, 221);
    border-radius: 50%;
}

.col-1 {
    display: flex;
    margin-left: 1em;
}

.header {
    margin: 0;
    grid-column: 2 / -1;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.details {
    display: flex;
    align-items: center;
    gap: 2em;
}

.dashboard {
    width: 40px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(98deg) brightness(107%) contrast(102%);
}

.sidebar {
    grid-row: 1 / 3;
    background-color: rgb(50, 129, 233);
    color: white;
    font-weight: bold;
    padding-left: 1em;
    padding-right: 1em;
}

.sidebar h2 {
    display: flex;
    align-items: center;
    gap: 15px;
}


h2 {
    grid-column: 1 / -1;
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 7fr;
    align-items: center;
    gap: 1em;
    padding-left: 0;
}

.svg {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(98deg) brightness(107%) contrast(102%);
    width: 20px;
}

.row-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1 / -1;
}

.search {
    align-self: center;
}

.row-1 p {
    justify-self: center;
    gap: 1.5em;
}

.buttons {
    grid-column: 2;
}

.row-2 {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.row-2 p {
    margin-left: 1em;
}

.row-2 span {
    font-size: larger;
}

input {
    border-radius: 30px;
    background-color: rgb(221, 221, 221);
    border: none;
    width: 100%;
    margin-left: 1em;
}

.search {
    margin-left: 2em;
}

.main-content {
    background-color: rgb(221, 221, 221);
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    grid-template-rows: 1fr 4fr 4fr 4fr;   
}

.main-content a {
    grid-column: 1 / -1;
    text-align: center;
}

.projects {
    grid-column: 1 / -1;
    margin: 2em 0 1em 1em;

}

.col-3 {
    grid-column: 3;
    background-color: rgb(221, 221, 221);
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.col-3 p {
    margin: 0;
}

.announcements {
    display: grid;
    gap: 1px;
    font-size: smaller;
}

.heading {
    font-size: 16px;
    margin: 2em 0 1em 1em;
}

.box-top {
    background-color: white;
    padding: 1em 2em 1em 2em;
    margin: 0 2em 0 1em;
}

.box-bottom {
    background-color: white;
    padding: 1em 2em 1em 2em;
    margin: 0 2em 0 1em;
    display: grid;
    grid-template-rows: repeat(4, 1fr);;
    gap: 1em;
}

.penguin {
    background-color: rgb(184, 184, 184);
    height: 30px;
    border-radius: 50%;
}

.whale {
    background-color: rgb(111, 111, 253);
    height: 30px;
    border-radius: 50%;
}

.cow {
    background-color: orange;
    height: 30px;
    border-radius: 50%;
}

.name {
    display: flex;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-self: center;
    gap: 2em;
}

button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 15px;
    border: none;
    color: white;
    background-color: rgb(50, 129, 233);
    font-weight: bold;
}
